* {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

body {
	display: grid;
	place-items: centre;
	min-height: 100vh;
	background-image: linear-gradient(to bottom right,black, #355070);
}

#todo{
	background-color: #6d597a; color: rgb(181, 210, 236);text-align: center; display:flex;align-items: center;justify-content: center ;
}
section {
	padding: 80px 60px 0 60px;
}

#take {
	margin: auto;
	padding: 30px 50px;
	border: 1px solid rgb(19, 20, 97);
	width: 30%;
	border-radius:15px 50px;
	background-color: #b56576;
	color:aliceblue;
	box-shadow: 10px 10px 5px #6d597a;
	font-size: 25px;

}

#take input {
	text-indent: 10px;
	margin-bottom: 20px;
	margin-top: 10px;
	width: 100%;
	padding: 5px 0;
	font-size: 25px;
	color: grey;
}

#take textarea {
	width: calc(100% - 20px);
	padding: 10px;
	margin-top: 10px;
	font-size: 25px;
	color: grey;
	
}

#take button {
	padding: 5px 25px;
	margin-top: 20px;
	font-size: 25px;
	background: #eaac8b;
	border-radius: 12px;
	border: none;
	transition-duration: 0.4s;
	
}
#take button:hover {
	background-color: #6d597a;
}
#components {
	display: flex;
	gap: 50px 30px;
	justify-content: space-around;
	flex-wrap: wrap;
	padding-bottom: 30px;

}

#components div {
	border: 1px solid rgb(19, 20, 97);
	min-width: 30%;
	border-radius: 50px 15px;
	background-color: #6d597a;
	color:aliceblue;
	padding: 20px;
	box-shadow: 10px 10px 5px #b56576;

}

#components h1 {
	margin-bottom: 20px;
	font-size: 30px;

}

#components hr {
	margin-bottom: 20px;
}
#components p {
	font-size: 21px;
}
#components button {
	margin-top: 15px;
	padding: 10px;
	background: #eaac8b;
	border-radius: 12px;
	transition-duration: 0.4s;
	font-size: 20px;
	border: none;
}
#components button:hover {
	background-color: #b56576;
}