* {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

body {
	display: grid;
	place-items: centre;
	min-height: 100vh;
	background-image: linear-gradient(to bottom right,black, #355070);
	background-size: cover;
}

#todo{
	background-color: #6d597a;
	color: rgb(181, 210, 236);
	text-align: center;
	display:flex;
	margin: auto;
	margin-top: 26px;
	border: none;
	padding: 9px;
	border-radius: 5px;
}
section {
	padding: 80px 60px 0 60px;
}

#take {
	margin: auto;
	padding: 30px 50px;
	width: 300px;
	border-radius:15px 50px;
	background-color: #b56576;
	color:aliceblue;
	box-shadow: 10px 10px 5px #6d597a;
	font-size: 29px;

}

#take input {
	text-indent: 10px;
	margin-bottom: 20px;
	margin-top: 10px;
	width: 85%;
	padding: 5px 0;
	font-size: 22px;
	color: grey;
	border: none;
	border-radius: 6px;
}
#take input:focus{
	outline: none;
}
#take textarea {
	width: calc(85% - 20px);
	padding: 10px;
	margin-top: 10px;
	font-size: 22px;
	color: grey;
	border-radius: 6px;
	border: none;

	
}
#take textarea:focus{
	outline: none;
}
#take button {
	padding: 5px 10px;
	margin-top: 20px;
	width: 130px;
	font-size: 24px;
	background: #eaac8b;
	border-radius: 12px;
	border: none;
	transition-duration: 0.4s;
	color: white;
	
}
#take button:hover {
	background-color: #6d597a;
}
#components {
	display: flex;
	gap: 50px 30px;
	justify-content: space-around;
	flex-wrap: wrap;
	padding-bottom: 30px;

}

#components div {
	width: 250px;
	border-radius: 50px 15px;
	background-color: #6d597a;
	color:aliceblue;
	padding: 20px;
	box-shadow: 10px 10px 5px #b56576;

}

#components h1 {
	margin-bottom: 20px;
	font-size: 24px;

}

#components hr {
	margin-bottom: 20px;
}
#components p {
	font-size: 18px;
}
#components button {
	margin-top: 15px;
	padding: 10px;
	background: #eaac8b;
	border-radius: 12px;
	font-size: 17px;
	border: none;
	transition-duration: 0.4s;

}
#components button:hover {
	background-color: #b56576;
}